node_modules
npm-debug.log
.git
.gitignore
.env
*.md
.angular
.vscode
dist
coverage
.nyc_output
**/.angular
**/node_modules
**/dist
**/coverage
backend/node_modules
backend/uploads/*
!backend/uploads/.gitkeep
